@using Microsoft.AspNetCore.Components.Routing
@namespace FlightTracker.Web
<CascadingAuthenticationState>
	<RadzenNotification />
	<RadzenDialog />
	<RadzenContextMenu />
	<RadzenTooltip />
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(FlightTracker.Web.Components.Layout.MainLayout)">
				<NotAuthorized>
					<FlightTracker.Web.Pages.LoginRedirect />
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<p class="radzen-text">Component not found.</p>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
