@inherits LayoutComponentBase

<div class="@(ShowSidebar ? "layout" : string.Empty)">
    @if (ShowSidebar)
    {
        <nav>
            <Sidebar />
        </nav>
    }

    <div class="@(ShowSidebar ? "layout__main" : string.Empty)">
        @if (ShowSidebar)
        {
            <header class="layout__header">
                <p class="layout__subtitle">@PageTitle</p>
            </header>
        }

        <main role="main" class="@(ShowSidebar ? "layout__content" : string.Empty)">
            @Body
        </main>

        @if (ShowSidebar)
        {
            <footer class="layout__footer">&copy; 2026 - FlightTracker.Web - <a href="/privacy">Privacy</a></footer>
        }
    </div>
</div>
