@model FlightTracker.Web.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Flight Dashboard";
}

@section HeaderContent {
    <div class="remove__header"></div>
}

<div class="container-fluid">

<partial name="_FlightMap" view-data='new ViewDataDictionary(ViewData) { ["FlightMapHeight"] = "75vh" }' />

@section Scripts {
    <script src="~/js/flight-map.js" asp-append-version="true"></script>
}
